# AirBnb Data Project
This project consists of the following:
1) Downloading listing data
2) Cleaning the raw data
3) Inserting the cleaned data into a SQL database
4) Exploring the data via SQL

## Data Exploration

In [7]:
import pandas as pd

datapath = 'data/'
dirty_data = 'nyc_airbnb_listings_march.csv'

dirty_df = pd.read_csv(datapath+dirty_data)
dirty_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,36121.0,https://www.airbnb.com/rooms/36121,2.025030e+13,3/3/2025,city scrape,Lg Rm in Historic Prospect Heights,Cozy space share in the heart of a great neigh...,Full of tree-lined streets and beautiful brown...,https://a0.muscache.com/pictures/8776354/35b32...,62165,...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.05
1,36647.0,https://www.airbnb.com/rooms/36647,2.025030e+13,3/3/2025,city scrape,"1 Bedroom & your own Bathroom, Elevator Apartment",Private bedroom with your own bathroom in a 2 ...,"Manhattan, SE corner of 2nd Ave/ E. 110th street",https://a0.muscache.com/pictures/miso/Hosting-...,157798,...,4.90,4.38,4.71,NaN,f,1,0,1,0,0.58
2,38663.0,https://www.airbnb.com/rooms/38663,2.025030e+13,3/2/2025,city scrape,Luxury Brownstone in Boerum Hill,"Beautiful, large home in great hipster neighbo...","diverse, lively, hip, cool: loaded with restau...",https://a0.muscache.com/pictures/miso/Hosting-...,165789,...,4.88,4.86,4.62,OSE-STRREG-0001784,f,1,0,1,0,0.28
3,38833.0,https://www.airbnb.com/rooms/38833,2.025030e+13,3/3/2025,city scrape,Spectacular West Harlem Garden Apt,This is a very large and unique space. An inc...,West Harlem is now packed with great restauran...,https://a0.muscache.com/pictures/7554f9e5-4ab0...,166532,...,4.96,4.79,4.82,OSE-STRREG-0000476,f,1,1,0,0,1.36
4,39282.0,https://www.airbnb.com/rooms/39282,2.025030e+13,3/2/2025,city scrape,“Work-from-home” from OUR home.,*Monthly Discount will automatically apply <br...,THE NEIGHBORHOOD:<br />Our apartment is locate...,https://a0.muscache.com/pictures/ef8f43ad-d967...,168525,...,4.88,4.85,4.78,OSE-STRREG-0001150,f,2,0,2,0,1.54

In [ ]:
dirty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37434 entries, 0 to 37433
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            37434 non-null  float64
 1   listing_url                                   37434 non-null  object
 2   scrape_id                                     37434 non-null  float64
 3   last_scraped                                  37434 non-null  object
 4   source                                        37434 non-null  object
 5   name                                          37432 non-null  object
 6   description                                   36441 non-null  object
 7   neighborhood_overview                         20224 non-null  object
 8   picture_url                                   37433 non-null  object
 9   host_id                                       37434 non-null  int64
 10  host_url                                      37434 non-null  object
 11  host_name                                     37396 non-null  object
 12  host_since                                    37396 non-null  object
 13  host_location                                 29747 non-null  object
 14  host_about                                    21455 non-null  object
 15  host_response_time                            21286 non-null  object
 16  host_response_rate                            21286 non-null  object
 17  host_acceptance_rate                          22740 non-null  object
 18  host_is_superhost                             36994 non-null  object
 19  host_thumbnail_url                            37396 non-null  object
 20  host_picture_url                              37396 non-null  object
 21  host_neighbourhood                            29718 non-null  object
 22  host_listings_count                           37396 non-null  float64
 23  host_total_listings_count                     37396 non-null  float64
 24  host_verifications                            37396 non-null  object
 25  host_has_profile_pic                          37396 non-null  object
 26  host_identity_verified                        37396 non-null  object
 27  neighbourhood                                 20225 non-null  object
 28  neighbourhood_cleansed                        37434 non-null  object
 29  neighbourhood_group_cleansed                  37434 non-null  object
 30  latitude                                      37434 non-null  float64
 31  longitude                                     37434 non-null  float64
 32  property_type                                 37434 non-null  object
 33  room_type                                     37434 non-null  object
 34  accommodates                                  37434 non-null  int64
 35  bathrooms                                     22503 non-null  float64
 36  bathrooms_text                                37404 non-null  object
 37  bedrooms                                      31523 non-null  float64
 38  beds                                          22352 non-null  float64
 39  amenities                                     37434 non-null  object
 40  price                                         22308 non-null  object
 41  minimum_nights                                37434 non-null  int64
 42  maximum_nights                                37434 non-null  int64
 43  minimum_minimum_nights                        37431 non-null  float64
 44  maximum_minimum_nights                        37431 non-null  float64
 45  minimum_maximum_nights                        37431 non-null  float64
 46  maximum_maximum_nights                        37431 non-null  float64
 47  minimum_nights_avg_ntm                        37431 non-null  float64
 48  maximum_nights_avg_ntm                        37431 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              32057 non-null  object
 51  availability_30                               37434 non-null  int64
 52  availability_60                               37434 non-null  int64
 53  availability_90                               37434 non-null  int64
 54  availability_365                              37434 non-null  int64
 55  calendar_last_scraped                         37434 non-null  object
 56  number_of_reviews                             37434 non-null  int64
 57  number_of_reviews_ltm                         37434 non-null  int64
 58  number_of_reviews_l30d                        37434 non-null  int64
 59  availability_eoy                              37434 non-null  int64
 60  number_of_reviews_ly                          37434 non-null  int64
 61  estimated_occupancy_l365d                     37434 non-null  int64
 62  estimated_revenue_l365d                       22308 non-null  float64
 63  first_review                                  25647 non-null  object
 64  last_review                                   25647 non-null  object
 65  review_scores_rating                          25647 non-null  float64
 66  review_scores_accuracy                        25636 non-null  float64
 67  review_scores_cleanliness                     25646 non-null  float64
 68  review_scores_checkin                         25632 non-null  float64
 69  review_scores_communication                   25641 non-null  float64
 70  review_scores_location                        25629 non-null  float64
 71  review_scores_value                           25630 non-null  float64
 72  license                                       5369 non-null   object
 73  instant_bookable                              37434 non-null  object
 74  calculated_host_listings_count                37434 non-null  int64
 75  calculated_host_listings_count_entire_homes   37434 non-null  int64
 76  calculated_host_listings_count_private_rooms  37434 non-null  int64
 77  calculated_host_listings_count_shared_rooms   37434 non-null  int64
 78  reviews_per_month                             25647 non-null  float64
dtypes: float64(25), int64(18), object(36)
memory usage: 22.6+ MB

In [19]:
dirty_df_filtered  = dirty_df.iloc[:,[0,9,15,16,17,18,21,22,23,26,27,28,29,30,31,32,33,34,35,37,38,40,56,65,66,67,68,69,70,71]]
dirty_df_filtered

,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_identity_verified,...,beds,price,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,3.612100e+04,62165,NaN,NaN,NaN,f,Prospect Heights,1.0,3.0,t,...,1.0,$200.00,9,4.88,5.00,4.80,5.00,5.00,5.00,5.00
1,3.664700e+04,157798,NaN,NaN,100%,f,East Harlem,1.0,1.0,t,...,1.0,$82.00,102,4.77,4.82,4.76,4.88,4.90,4.38,4.71
2,3.866300e+04,165789,within a few hours,100%,40%,f,Boerum Hill,1.0,3.0,t,...,5.0,$765.00,43,4.70,4.83,4.52,4.88,4.88,4.86,4.62
3,3.883300e+04,166532,within an hour,100%,97%,t,Harlem,1.0,1.0,t,...,1.0,$139.00,241,4.85,4.87,4.50,4.96,4.96,4.79,4.82
4,3.928200e+04,168525,within an hour,100%,100%,t,Williamsburg,2.0,2.0,t,...,1.0,$130.00,274,4.82,4.83,4.61,4.94,4.88,4.85,4.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37429,1.366330e+18,40019013,NaN,NaN,NaN,f,NaN,1.0,2.0,t,...,1.0,$72.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37430,1.366720e+18,483056418,within an hour,100%,80%,t,Bedford-Stuyvesant,24.0,33.0,t,...,0.0,$58.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37431,1.366720e+18,30283594,within an hour,94%,99%,f,Miami Beach,619.0,1974.0,t,...,3.0,$299.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37432,1.366720e+18,407304997,within an hour,89%,100%,f,Park Slope,26.0,38.0,t,...,2.0,$200.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37433,1.366720e+18,483056418,within an hour,100%,80%,t,Bedford-Stuyvesant,24.0,33.0,t,...,0.0,$58.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN